<div class="user-details">
  <h1> Education </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/au.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Bachelor of Science in Information Technology </h3>
    <p> Arellano University Jose Abad Santos <h5>(​2016 - 2017)</h5></p>
    <p> STI College Parañaque <h5>(​​2015 - 2016)</h5></p>
  </div>
</div>

<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/exp.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Freelance Graphic Designer </h3>
    <ul>
      <h4> March 2020 - present</h4>
    </ul>
    <ul>
    <li><h5>Remained committed to producing quality content in accordance with deadlines.</h5></li>
    <li><h5>Utilized Adobe Creative Suite to design logos, brochures, websites, advertisements, and other visual elements.</h5></li>
    <li><h5>Created Innovative designs that effectively communicated the brand's message to target audience.</h5></li>
    <li><h5>Worked to ensure that client brand standards were upheld.</h5></li>
    <li><h5>Completed 50+ graphic design projects for small businesses and big corporations.</h5></li>
    
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-details">
  
  <h2> Project Title </h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
</div>
